#container {
    margin: auto;
    width: 600px;
    height: 600px;
    border: 2px solid #000000;
    perspective: 600px;
}

#world {
    width: 100%;
    height: 100%;
    background-color: #C0FFFF;
    transform: translate3d(100px, 100px, 0px) rotateX(45deg);
    position: relative;
    transform-style: preserve-3d;
}

#square1 {
    width: 300px;
    height: 0;
    border-top: 10px solid grey;
    position: absolute;
    top: 100px;
    left: 100px;
    transform: rotateY(45deg);
}
.enemy {
    display: block;
    position: absolute;
    width: 10px;
    height: 50px;
    background: red;
    transform: rotateX(89deg) translate3d(0px,50%, 20px) rotateX(1deg) rotateZ(360deg);
}